* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f0f0f0;
	font-family: 'ProximaNova', arial, 'Helvetica Neue', sans-serif;
	font-size: 14px;
}

body,
html {
	color: #282c3f;
}

button {
	padding: 9px;
	border: 1px solid rgb(121, 121, 121);
	border-radius: 10px;
	width: 10%;
	background-color: #3bb9f1;
	font-size: 16px;
	font-weight: 500;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #ff8826;
}

textarea:focus,
input:focus {
	outline: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	background-color: white;
	box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}

.header .logo {
	width: 80px;
	height: 70px;
	cursor: pointer;
}

.header .nav-items {
	display: flex;
	width: 60%;
	justify-content: space-evenly;
	gap: 2rem;
}

.header .nav-items .item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	color: black;
	font-weight: 500;
	cursor: pointer;
}

.header .nav-items .item > svg {
	width: 17px;
	height: 17px;
}

.header .nav-items .item:hover {
	color: #ff722f;

	> svg {
		color: #ff722f;
	}
}

.main-container {
	padding: 2rem;
}

.main-container .search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.main-container .search-bar .search-input {
	padding: 10px;
	border: 1px solid rgb(121, 121, 121);
	border-radius: 10px 0 0 10px;
	width: 70%;
}

.main-container .search-bar .search-button {
	border-radius: 0 10px 10px 0;
}

.main-container .resturent-container {
	width: 100%;
	display: flex;
	margin: auto;
	justify-content: stretch;
	flex-wrap: wrap;
}

.resturent-container .res-card {
	flex-basis: 14%;
	margin: 1rem;
	border-radius: 10px;
	/* box-shadow: 0 0 10px 3px lightgray; */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.resturent-container .res-card:hover {
	transform: scale(1.05);
}

.resturent-container .res-card img {
	width: 100%;
	height: 190px;
	border-bottom: 1px solid black;
	border-radius: 10px 10px 0 0;
}

.res-card .res-details {
	padding: 1rem;
	line-height: 25px;
}

.res-card .res-details .restaurant-name {
	font-size: 20px;
	margin-bottom: 10px;
}

.filter-button {
	margin-left: 1rem;
	width: 20%;
}

.shimmer-container {
	display: flex;
	justify-content: flex-start;
	align-self: center;
	width: 100%;
	height: 100%;
	padding: 2rem;
	flex-wrap: wrap;
}

.shimmer-search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	padding: 2rem;
	background-color: #d6d6d6;
}

.shimmer-card {
	width: 230px;
	height: 300px;
	background-color: #d6d6d6;
	margin: 1rem;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
}

.res-menu {
	max-width: 800px;
	min-height: 800px;
	margin: 20px auto;
}

.res-menu .res-info {
	padding: 1rem;
	border: 1px solid black;
	border-radius: 12px;
	background-color: #ffffff;
	margin: 2rem 0;
	line-height: 32px;
}

.flex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.strikethrough {
	text-decoration: line-through;
	opacity: 0.7;
	margin-right: 5px;
}

.res-menu .res-info .cuisine {
	color: #ff5200;
	text-decoration: underline;
}

.expectation-notifier img {
	width: 20px;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3rem 0;
	border-bottom: 1px solid #c2bfbf;
}

.menu-item img {
	width: 200px;
	border-radius: 10px;
}

.menu-item .menu-info {
	line-height: 30px;
	width: 60%;
}

.about-us {
	padding: 3rem;
	display: grid;
	gap: 2rem;
}

.user-card {
	padding: 20px;
	display: flex;
	gap: 5rem;
	align-items: center;
	border: 1px solid rgb(109, 109, 109);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-radius: 10px;
	background-color: #f6f6f6;
	line-height: 30px;
}

.user-card img {
	margin-bottom: 2rem;
	width: 20%;
}

@media only screen and (max-width: 750px) {
	.resturent-container .res-card {
		flex-basis: 30%;
	}
}

@media screen and (max-width: 450px) {
	.resturent-container {
		width: 100%;
		flex-direction: column;
	}
}
