@tailwind base;
@tailwind components;
@tailwind utilities;

.res-card {
	flex-basis: 23%;
	margin: 1rem 0;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.res-card:hover {
	transform: scale(0.95);
}

.res-menu {
	max-width: 800px;
	min-height: 800px;
	margin: 20px auto;
}

.res-menu .res-info {
	border-radius: 12px;
	background-color: #ffffff;
	margin: 2rem 0;
	line-height: 32px;
}

.strikethrough {
	text-decoration: line-through;
	opacity: 0.7;
	margin-right: 5px;
}

.res-menu .res-info .cuisine {
	color: #ff5200;
	text-decoration: underline;
}

.expectation-notifier img {
	width: 30px;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 0;
	border-bottom: 1px solid #c2bfbf;
}

.menu-item img {
	width: 200px;
	border-radius: 10px;
}

.menu-item .menu-info {
	line-height: 30px;
	width: 60%;
}

.about-us {
	padding: 3rem;
	display: grid;
	gap: 2rem;
}

.user-card {
	padding: 20px;
	display: flex;
	gap: 5rem;
	align-items: center;
	border: 1px solid rgb(109, 109, 109);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-radius: 10px;
	background-color: #f6f6f6;
	line-height: 30px;
}

.user-card img {
	margin-bottom: 2rem;
	width: 20%;
}

@media only screen and (max-width: 750px) {
	.res-card {
		flex-basis: 30%;
	}
}
